.alert {
    background-color: #DA310C;
    color: #bcd0d9;
    font-size: large;
    padding: 5px 10px;
}
.btn-alert{
    margin-left:10px;
    color:  #bcd0d9;
    font-weight: bold;
    background-color: transparent;
    text-decoration:none;
}